.header{
    display: flex;
    justify-content:space-between;
    background-color:navy;
    /* margin:0;
    padding:0; */
}

.container
{
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info {
    max-width: 200px;
  }
  
.title
{
    
}

ul 
{
list-style-type: none;
margin:0;
padding:0; 
 gap: 16px;
display:flex;
}

a{
    color:white;
    text-decoration: none;
    font-size: 24px;
   
}

p{
    font-size:24px;
}