.header{
    display: flex;
    justify-content:space-between;
    background-color:navy;
   
    height: 100%;
    width: 100%;  
    font-weight: bold;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
   
}

.container
{
    background-color: navy;
    display: flex;
    justify-content: center;
    gap: 52px;
    border-radius: 25px;
    padding:20px;
    margin:0;

    
}

.info {
    max-width: 200px;
  }

.title
{
    font-size: x-large;
    font-style: oblique;
    font-weight: bolder;
    display:flex;
      margin: 32px;
      padding: 32px;
      margin-left: 20%;
      margin-right: 20%;
     justify-content: center;
     color:blueviolet;
     background-color: aliceblue;
     border-radius: 20px;
     
}

ul 
{
list-style-type: none;
margin:0;
padding:0; 
 gap: 35px;
display:flex;
}

a{
    color:white;
    text-decoration: none;
    font-size: 24px;
   
}

p{
    display:flex;
     color: white;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width:100%;
  background: #eee;
  color: blueviolet;
  position:fixed;
  bottom:0;
  
  }

  img {
    width: 200px;
    height: 200px;
    border-radius: 25px;
        
  }

  .quote{
    display:flex;
    font-weight:bold ;
    font-style:italic;
    background-color: white;
    color:cornflowerblue;
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
    margin-bottom: 200px;
    font-size: 36px;
  }

  body{
    min-height:100vh;
   font-family:helvetica,'times new roman',sans-serif;
    background-image: url('wp1894643-my-hero-academia-wallpapers.jpg');
    margin:0;
  }

  .text
  {
    color:white;
  }

  