.header{
    display: flex;
    justify-content:space-between;
    background-color:navy;
   
     height: 100%;
    width: 100%;  
    font-weight: bold;
}

.container
{
    background-color: bisque;
    display: flex;
    justify-content: center;
    gap: 52px;
    
}

.info {
    max-width: 200px;
  }

.title
{
    font-size: larger;
    font-style: oblique;
    font-weight: bolder;
    display:flex;
     margin-bottom: 32px;
     justify-content: center;
     color:blueviolet;
     
}

ul 
{
list-style-type: none;
margin:0;
padding:0; 
 gap: 16px;
display:flex;
}

a{
    color:white;
    text-decoration: none;
    font-size: 24px;
   
}

p{
    display:flex;

}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
  background: #eee;
  color: darkmagenta;
  }

  img {
    width: 200px;
    height: 200px;
    
  }

  .quote{
    display:flex;
    font-weight:bold ;
    font-style: italic;
    background-color: aqua;
    color:cornflowerblue;
  }

  body{
   font-family:helvetica,'times new roman',sans-serif;
    background-image: url('wp1894643-my-hero-academia-wallpapers.jpg');
    margin:0;
  }